body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 50px;
    background-image: url('P2.jpg'); /* Adjust the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.home {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: 100px auto 20px; /* Adjust margin to accommodate the fixed header */
    text-align: center; /* Center text alignment */
}

.profile-picture {
    width: 100px; /* Adjusted width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: makes the image circular */
    margin: 20px 0; /* Adds space above and below the image */
}

h1 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
    margin: 0 auto; /* Centers the text block */
    max-width: 600px; /* Limits the width of the text block for better readability */
}

.about {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: 100px auto 20px; /* Adjust margin to accommodate the fixed header */
    text-align: left; /* Align text to the left */
}

h1, h2 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
    margin: 0 auto; /* Centers the text block within its container */
    max-width: 600px; /* Limits the width of the text block for better readability */
}
